---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Experiences from "../components/Experiences.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";

const profile = {
  name: "Valentin Misiaszek",
  title: "Développeur TypeScript Fullstack",
  subtitle: "7 ans d'expérience",
  bio: "Passionné de développement Web et fervent adepte des nouvelles technologies, je me distingue par une appétence particulière pour les frameworks modernes. J'aime insuffler de l'énergie positive au sein des équipes avec lesquelles je collabore et mener à bien mes projets",
  email: "valentin@webxfactory.fr",
  location: "Lille, France",
  github: "https://github.com/ValentinMi",
  linkedin: "https://www.linkedin.com/in/valentin-misiaszek-36475a176/",
  cvUrl: "/cv.pdf",
};
---

<Layout>
  <Navbar />
  <main>
    <Hero
      name={profile.name}
      title={profile.title}
      subtitle={profile.subtitle}
      bio={profile.bio}
      email={profile.email}
      location={profile.location}
      github={profile.github}
      linkedin={profile.linkedin}
      cvUrl={profile.cvUrl}
    />
    <Experiences />
    <Skills />
    <!--<Projects />-->
    <Contact
      email={profile.email}
      github={profile.github}
      linkedin={profile.linkedin}
    />
  </main>
</Layout>
